<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FabKPI Dashboard</title>
  
  <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans'/>
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">	
  
  <!-- BootStrap and Font-Awesome CSS -->  
  <link rel="stylesheet"  type="text/css"  media="all" href="css/font-awesome.css" />
  <link rel="stylesheet"  type="text/css"  media="all" href="css/bootstrap.min.css" />
  
  <!-- User Defined CSS -->
  <link rel="stylesheet"  type="text/css"  media="all" href="css/customize.css" />
  

  <script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
  <script src="js/angular.min.js"></script>
  
  <script src="js/ng-controller.js"></script>
  <script src="js/service.js"></script>
  

  
</head>
<body>

<div>
	<h1>
		<i class="fa-fw fa fa-th-large"></i>
		 Dashboard
	</h1>
</div>


<div class="row">
	<div class="col-xs-6 col-sm-2 super-box">
		<p> A </p>
	</div>
	<div class="col-xs-6 col-sm-2 super-box">
		<p> A </p>
	</div>
	<div class="col-xs-6 col-sm-2 super-box">
		<p> A </p>
	</div>
	<div class="col-xs-6 col-sm-2 super-box">
		<p> A </p>
	</div>
	<div class="col-xs-6 col-sm-2 super-box">
		<p> A </p>
	</div>
	<div class="col-xs-6 col-sm-2 super-box">
		<p> A </p>
	</div>
	<div class="col-xs-6 col-sm-2 super-box">
		<p> A </p>
	</div>
</div>


<div ng-app="DashboardCtrl" ng-controller="DashboardController as index">
  <b>Test</b>
  <div>
    Quantity: <input type="number" min="0" ng-model="index.qty" required >
  </div>
  <div>
    Costs: <input type="number" min="0" ng-model="index.cost" required >
    <select ng-model="index.inCurr">
      <option ng-repeat="c in index.currencies">{{c}}</option>
    </select>
  </div>
  <div>
    <b>Total:</b>
    <span ng-repeat="c in index.currencies">
      {{index.total(c) | currency:c}}
    </span>
    <button class="btn" ng-click="index.pay()">Pay</button>
  </div>
</div>
</body>

</html>